<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
<div id="issueCount">
    <ul>
        <li *ngFor="let i of issueCount">
            <span class='fas fa-plus-square' style="color:red;"> </span>
            <div class="dropdown">
                <p class="dropbtn">{{i.id}}</p>
                    <div class="dropdown-content">
                        <a (click) = toggleDisplay() class = "shortDescription" >Short Description</a>
                        <div *ngIf = "!isShow">
                            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                        </div>
                        <a routerLink="/issueDetail">Long Description</a>
                    </div>
            </div>        
            <pre>{{i.des}}</pre>
            <hr align="left">
        </li>
    </ul>

    <!-- <aside>
    <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
    </aside> -->
</div>

<!-- <router-outlet></router-outlet> -->


  
