<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div id="issueCount">
    <ul>
        <li *ngFor="let i of issueCount">
            <span class='fas fa-plus-square' style="color:red;"> </span>
            <!-- short description of the issue-count -->
            <!-- <div class="dropdown">
                <p class="dropbtn">{{i.id}}</p>
                    <div class="dropdown-content">
                        <a (click) = toggleDisplay() class = "shortDescription" >Short Description</a>
                        <div *ngIf = "!isShow">
                            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                        </div>
                        <a routerLink="/issueDetail">Long Description</a>
                    </div>
            </div>         -->
            <a routerLink="/issueDetail">{{i.id}}</a>
            <div class=description>{{i.des}}</div>
            <hr align="left">
        </li>
    </ul>

</div>










  
