<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div id="issueCount">
    <ul>
        <li *ngFor="let i of issueCount">
            <span class='fas fa-plus-square' style="color:red;"> </span>
            <div class="dropdown">
                <p class="dropbtn">{{i.id}}</p>
                    <div class="dropdown-content">
                        <a (click) = toggleDisplay() class = "shortDescription" >Short Description</a>
                        <div *ngIf = "!isShow">
                            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                        </div>
                        <a routerLink="/issueDetail">Long Description</a>
                    </div>
            </div>        
            <pre>{{i.des}}</pre>
            <hr align="left">
        </li>
    </ul>

</div>


<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->



  
