
 <div class="row">
    <div class="column1" style="background-color:#aaa;">
      <h2></h2>
     
    </div>
    <div class="column2" style="background-color:white;">
      <h2>NaaS Campaign - Sharing Campaign </h2>
      <div class='container'>
        <button type="button" style="margin: 5px;" >Edit</button>
        <button type="button" style="margin: 5px;" >Comment</button>
        <button type="button" style="margin: 5px;" >Assign</button>
        <button type="button" style="margin: 5px;">More</button>
        <button type="button" style="margin: 5px;" >Close Issue</button>
        <button type="button" style="margin: 5px;" >Dev Started</button>
       </div>
       <!-- <div class="container1">
        <div *ngFor="let obj of listOfObjects" *ngIf="obj.edited" class="alert alert-success box-msg" role="alert">
            <strong>List Saved!</strong> Your changes has been saved.
    </div> -->
    
    <button (click) = toggleDisplay()>Details</button>
     <!-- <label for = "details">Details</label> -->
     <div *ngIf = "!isShow">
           <option value="1">Type:</option>
           <option value="2">Priority:</option>
           <option value="3">Component/s:</option>
           <option value="4">Issue Source:</option>
           <option value="5">Severity:</option>
           <option value="6">UAT Required:</option>
           <option value="7">UAT Completed:</option>
           <option value="8">Ranking:</option>
           <option value="9">Observed:</option>
           <option value="10">Automation Required:</option>
          </div>
          
      <!-- <ul>
        <li *ngFor="let value of values" (click)="selectItem(value.value)">{{value.label}}</li>
      </ul>
        -->

        <div class="column3" style="background-color:white;">
            <div class="container2">
            <button (click) = toggleDisplay()>People</button>
            
            <div *ngIf = "!isShow">
                <option value="1">Assignee:</option>
                <option value="2">Reporter:</option>
                <option value="3">Assign Watcher:</option>
                <option value="4">Votes:</option>
                <option value="5">Watcher:</option>
                    </div>

                </div>
      <h2></h2>
      </div>
      <div class="column4" style="background-color:white;"></div>
  </div>
 