.container{
    margin-right: 26px;
    column-gap: 20px;
  
    padding: 5px;
     margin-top: 130px;
}
* {
    box-sizing: border-box;
  }
  .containers{
      margin-left: 500px;
      position: absolute;
      align-items: center;
      margin-top: -250px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 700px; 
    margin-top: 100px;/* Should be removed. Only for demonstration */
  }
  .column2 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  .column3 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }

  .column4 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  
  
  
  
  